.multiline {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

.input {
  width: 100%;
  padding: 0.4em;
  font-size: 1.4em;
  border-radius: 0.2em;
  border: 1px var(--color-gray-100) solid;
  box-sizing: border-box;
  background-color: unset;
  font-family: -apple-system, JUA, sans-serif;
}

.input::placeholder {
  color: var(--color-gray-200);
}

.input:focus {
  outline: none;
}