.button {
  width: 100%;
  cursor: pointer;
  padding: 0.3em 1em;
  color: var(--color-font-point);
  background-color: var(--color-gray-100);
  border: 2px var(--color-font-point) solid;
  border-radius: 0.2em;
  font-size: 1.2em;
  font-family: -apple-system, JUA, sans-serif;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 0.3em 0.8em;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 420px) {
  .button {
    padding: 0.3em 0.6em;
    font-size: 1em;
  }
}