.container {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}

.title {
  color: var(--color-font-point);
  margin:  0.5em 0;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 21rem;
}

.contents li {
  margin: 1em 0;
}

.info {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.actions div {
  flex: 0.45;
}