.toggle {
  display: none;
  position: absolute;
  right: var(--size-3);
  font-size: var(--size-8);
  cursor: pointer;
  color: var(--color-font-point);
}

@media screen and (max-width: 768px) {
  .toggle {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .toggle {
    font-size: var(--size-6);
  }
}