.navbar {
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-primary-100);
}

.logo {
  cursor: pointer;
  color: var(--color-font-point);
  font-size: var(--size-10);
}

.menu {
  padding-left: 0;
  flex: 0.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
}

.menu li {
  padding: var(--size-2);
  border-radius: var(--size-2);
}

.menu li:hover {
  background-color: var(--color-white-100);
}

.menu a {
  font-size: var(--size-6);
  color: var(--color-font-point);
}

.toggle {
  display: none;
  position: absolute;
  right: var(--size-3);
  font-size: var(--size-8);
  color: var(--color-font-point);
}

@media screen and (max-width: 1240px) {
  .menu {
    flex: 0.6;
  }
}

@media screen and (max-width: 960px) {
  .logo {
    font-size: var(--size-8);
  }

  .menu {
    flex: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: var(--size-2);
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    display: none;
    width: 100%;
    padding: 0 var(--size-2);
    flex-direction: column;
    align-items: center;
  }

  .active {
    display: flex;
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .toggle {
    display: flex;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    font-size: var(--size-6);
  }

  .toggle {
    font-size: var(--size-6);
  }
}